<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <main>
    Sample vuejs application

    <div id="app">
      <ul>
        <li v-for="item in items">{{item}}</li>
      </ul>
      <div v-for="item in list">
        <span>{{item.id}}</span>
        <span title="{{item.name}}">{{item.name}}</span>
      </div>
    </div>
  </main>

  <script>
    let app = new Vue({
      el: '#app',
      data: {
        items: ['one', 'two', 'three', 'four', 'five'],
        list: [
          { id: 0, name: 'test' },
          { id: 1, name: 'test 2' }
        ]
      }
    })
  </script>
</body>
</html>